@media only screen and (max-width: 1199px) {

}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 460px) {

}